body {
    background-color: hsl(226, 43%, 10%);
    color: white;
    font-family: "Rubik", sans-serif;

}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#raportto{
    background-color: hsl(264, 64%, 52%);
    height: 70vh;
    width: 5cm;
    border-radius: 5%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #114;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none ;
}

aside{
    display: flex;
    flex-direction: column;
    background-color: #226;
    border-radius: 20px;
    width: 25%;
}

.header
{
    font-size: 0.8rem;
    color: white;
    background-color: rgb(92, 92, 237);
    padding: 15px;
    border-radius: 20px;
}
.header h1{
    font-size: 4rem;
}

main
{
    display: flex;
    width: 60%;
    margin: 60px;
    height: 70vh;
    align-content: space-between;
}
.buttons{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.buttons a{
    color: #88B;
    text-decoration: none;
    padding: 5px;
}

.buttons a:hover, .buttons a:focus,.block > div > div > a:hover{
    color:white;
    transition-duration: 0.3s;
}

.header img{
    width: 50%;
    border-radius: 100%;
    border: solid 5px white;
    margin-bottom: 20px;
}

#bloki{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.block{
    width: auto;
    max-width: 400px;
    margin: 10px;
    background-color: rgb(84, 84, 194);
    border-radius: 10px;
    height: 50%;

    color: white;
}

.block:hover{
    width: 30%;
    margin: 10px;
    background-color: rgb(48, 48, 168);
    border-radius: 20px;
    height: 50%;

    color: white;
}
.block p:nth-child(2)
{
    font-size: 4rem;
}

.block p:nth-child(3)
{
    color: #88B;
}

.block > div{
    background-color: rgb(74, 74, 204);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}
.block > div:hover{
    background-color: rgb(123, 123, 231);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}

.block > div > div{
    display: flex;
    justify-content: space-between;
}
.block > div > div > a{
    text-decoration: none;
    color: #88B;
}

.block section{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: 50px;
    padding-right: 20px;
}

.block section img{
    width: 100px;
    height: 100px;
}

.blu {
    background-color: hsl(235, 46%, 20%);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
 }
 